/* Starter CSS */ 

* {
    box-sizing: border-box; /* because it’s 2019, jen simmons */
    padding: 0;
    margin: 0;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

body {
    background: #F0F0F0;
    margin:0;
    }
    
    img {
    display: block;
    width: 100%;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: rgb(179, 147, 118);
      }

      .logo a {
        color: rgb(28, 24, 22);
    }
    .logo {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .logo,
.main-nav {
    text-align: center;
font-family: span, serif;
font-weight: 600;
font-style: normal;
  list-style: none;
  text-transform: uppercase;
}
.logo a,
.main-nav a {
  text-decoration: none;
  letter-spacing: 0.45rem;
}

.logo a:hover {
  color: red;
}

.main-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .main-nav a {
    display: block;
    padding: 1em;
    color: white;
  }
  .main-nav a:hover {
    background: #00ace6;
  }
  
  .main-nav a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .main-nav li:last-of-type a {
    border-bottom: none;
  }



  /* Homepage CSS */
    

 .homepage{
     background: url("weddingcouple.jpg") center;
     background-size: cover;
     padding: 4rem 2rem;
 }   

 .homepage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100vh;
  }

  .inner-home {
    background: rgba(0, 0, 10, 0.6);
    padding: 2rem;
    border-radius: 0.5rem;
  }
  
  .inner-home > h1 {
font-family: span, serif;
font-weight: 400;
font-style: normal;
    color: white;
    font-size: 4em;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .subhead {   
      font-family: span, serif;
      font-weight: 400;
      font-style: italic;
      color:rgb(179, 147, 118);
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .about-title > h1 {
text-align: center;
  }

  /* sets everything to zero */
  
  img {
    display: block;
    max-width: 100%; /* makes image responsive if needed but makes sure it doesn't stretch */
  }
  

/* About Page CSS */

  
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  
  .card {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 350px;
    border-radius: 0.5em;
    border: 1px solid gray;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    position: relative;
    top: 0;
  }
  .card:hover {
    transition: all 0.1s ease-in;
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }
  
  .cardphoto {
    max-height: 400px;
    overflow: hidden;
  }
  
  .cardarticle {
    flex-grow: 1;
  }
  
  /* typography */
  .cardH1 {
    font-size: 2rem;
    margin: 0;
    color: gray;
  }
  
  .card p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .card footer {
    font-size: 1.2rem;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    margin: 0;
  }

/* Portfolio CSS */


  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  article {
    background: white;
    padding: 1rem;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  article > p {
    line-height: 1.3;
  }
  
  .columns {
    display: grid;
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 1100px;
  }


  /* Photos Page CSS */

  .container {
    width: 60%;
    margin: 2rem auto; 
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem; 
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  
    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
  }
  
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }


  

/* Media Queries */


  @media (min-width: 600px) {
    .inner-home {
      grid-column: 2;
      width: 500px;
    }

    .subhead{
        padding: 1em;
    }
      /* change flex direction to horizontal and space things out */
      .main-nav {
          margin-left: 1.5em;
          margin-right: 1.5em;
        flex-direction: row;
        justify-content: space-around;
      }
      /* remove borders on top and bottom */
      .main-nav a {
        border-top: none;
        border-bottom: none;
      }
    
  
  @media (min-width: 1000px) {
    .inner-home {
      grid-column: 2;
      grid-row: 1;
      width: 1000px;
    }

    .subhead{
        padding: 3em;
        font-size: 2em;
    }

    .logo {
        margin-left: 20px;
      }
      /* put logo and main nav on same line */
      .flex-container {
        flex-direction: row;
      }
    
      /* move the list to the right side of the browser */
      .main-nav {
        justify-content: flex-end;
      }
    
      /* add some padding to give the main nav some breathing room */
      .main-nav a {
        padding: 1em;
        padding-right: 5em;
      }
      .cards{
          display: flex;
          flex-direction: row;
      }


  }

  


 
  
  
    
    
    
    
    /* This is the CSS markup for commenting */
    
    /* A one-line comment */
    
    /*
    A comment
    which stretches
    over several
    lines
    */
    
    /* The comment below is used to
       disable specific styling */
    
    /*
    span {
      color: blue;
      font-size: 1.5em;
    }
    */
    /* highlight the item and use Command + slash to comment something out. */